body{
     height: 100vh;
     text-align: center;
     background-color: rgb(44, 39, 39);
}

img{
    height: auto;
    background-image: url("Certificado.png");   /* Caminho da imagem */
    background-position: center;
    width: 50rem;
    border: 2px solid black;
}